@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&family=Indie+Flower&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Cardo&family=Playfair+Display&display=swap'); */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  margin: auto;
}